/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

/* Utility */

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: #858585;
}
.margin-bottom{
    margin-bottom: 45px;
}

.grey{
    color: #929292;
}
.small{
    font-size: 15px;
}
/* Header */

.logo img{
    width: 163px;
    height: 69px;
}

#navbar ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
    margin-right: 15px;
    text-transform: uppercase;
}

/* Hero */

.hero{
    height: 500px;
    width: 100%;
    background-image: url(./img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    padding: 320px 50px 70px 50px;
    color: white;
    margin-bottom: 45px;
}

.hero-text{
    width: 600px;
}

.hero h1{
    font-size: 33px;
    font-weight: 400;
}

.hero p{
    font-size: 15px;
}

/* Main */


.main{
    margin: 20px 0 10px 0;
    height: 450px;
    width: 100%;
}

.main-header.box{
    height: 50px;
    width: 100%;
    margin-bottom: 45px;
}

.main h3{
    font-weight: 400;
}

.main .text *{
    margin-top: 15px;
}

.main-header h2{
    font-size: 30px;
}

.box{
    height: 535px;
    float: left;
}

.side{
    width: calc(25% - 20px);
}

.center{
    width: 50%;
}

.left.side.box{
    margin-right: 10px;
}

.center.box{
    margin: 0 10px;
}

.right.side.box{
    margin-left: 10px;
}

.main-section img{
    height: 200px;
    width: 100%;
    border-radius: 15px;
}


/* Footer */

footer{
    text-align: center;
    margin-bottom: 20px;
}

footer i{
    color: red;
}